<div class='contenedor'>
  {%- if section.settings.image != blank -%}
  {{
    section.settings.image
    | image_url: width: 1000
    | image_tag: loading: 'lazy'
  }}
{%- else -%}
  {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
{%- endif -%}
</div>

{% schema %}
  {
  "name": "t:sections.slider-test.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "url_block",
      "name": "Bloque de URL 1",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "URL 1"
        }
      ]
    },
    {
      "type": "url_block1",
      "name": "Bloque de URL 2",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "URL 2"
        }
      ]
    }, 
    {
      "type": "url_block2",
      "name": "Bloque de URL 3",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "URL 3"
        }
      ]
    }
  ],

  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
      
    },    
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "t:sections.slider-test.presets.name"
    }
  ]
}
  
{% endschema %}

{% style %}
  .contenedor > img {
    width: 100% !important;
    object-fit: contain;
    height: 100%;
  }
{% endstyle %}

{% javascript %}
{% endjavascript %}