<div id='text-bubble'>
  <div>
    <img src='' alt='product-show' />
  </div>
  <div></div>
</div>

{% style %}
  #text-bubble {
    background-color: black;
    color: white;
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 15px;
    left: 15px;
    padding: 0 1rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 350px
  }

  #text-bubble > div:nth-of-type(1) {
    border-radius: 50%;
    width: 100px;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #text-bubble > div:nth-of-type(1) > img {
    width: 100%
  }
{% endstyle %}
{% javascript %}
  
const componente = document.getElementById('text-bubble');
const apiUrl = window.Shopify.routes.root + 'products.json';
  

  async function ejecutarAccion() {
  
      fetch(apiUrl)
      const response = await fetch(apiUrl);
        if (!response.ok) {
          throw new Error('No se pudo obtener la información de los productos');
        }
        const data = await response.json();
        const numeroAleatorio = Math.floor(Math.random() * data.products.length);  
        componente.querySelector('div:nth-of-type(1) > img').src = data.products[numeroAleatorio].images[0].src
        let Texto = null
        const esMes = Math.floor(Math.random() * 2) === 0;
        if (esMes) {
        const numeroMeses = Math.floor(Math.random() * 12);
          Texto = `hace ${numeroMeses} meses`
        } else {
        const numeroDias = Math.floor(Math.random() * 29);
          Texto = `hace ${numeroDias} días` 

        }
        componente.querySelector('div:nth-of-type(2)').innerText = `Compró ${data.products[numeroAleatorio].title} ${Texto}`
 
    
      
    componente.style.display = 'flex'
    setTimeout(() => {
      componente.style.display = 'none'
    }, 4000)
  setTimeout(ejecutarAccion, 10000)
}
  
if (componente) {
  setTimeout(() => {
    ejecutarAccion();
  }, 5000);
}
  
{% endjavascript %}
{% schema %}
  {
    "name": "text-bubble",
      "settings": [
    
   
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "t:sections.text-bubble.presets.name"
    }
  ]
  }
{% endschema %}

