<div id='text-bubble'>
  <div>
    <img src='' alt='product-show' />
  </div>
  <div>
    <p></p>
    <p></p>
    <p></p>
  </div>
</div>

{% style %}
  #text-bubble {
    background-color: black;
    color: white;
    display: none;
    position: fixed;
    z-index: 10;
    bottom: 15px;
    left: 15px;
    padding: 2px;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 330px;
    border-radius: 46.5px 5px 5px 46.5px;
    line-height: 16px
  }

  #text-bubble > div:nth-of-type(1) {
    border-radius: 50%;
    width: 100px;
    height: 98px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #text-bubble > div:nth-of-type(2) {
    width: 230px
  }
  #text-bubble > div:nth-of-type(1) > img {
    width: 100%
  }
  #text-bubble > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    text-align: left;
    flex-direction: column
  }
  #text-bubble > div:nth-of-type(2) > p {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-weight: 800;
    font-size: 12px;
    color: white
  }

  #text-bubble > div:nth-of-type(2) > p:nth-of-type(1),
  #text-bubble > div:nth-of-type(2) > p:nth-of-type(3) {
    font-size:12px;
    font-weight: 100;
    color: lightgray;
  }
{% endstyle %}
{% javascript %}
  
const componente = document.getElementById('text-bubble');
const apiUrl = window.Shopify.routes.root + 'products.json';
  

async function ejecutarAccion() {
  
    fetch(apiUrl)
    const response = await fetch(apiUrl);
      if (!response.ok) {
        throw new Error('No se pudo obtener la información de los productos');
      }
      const data = await response.json();
      const numeroAleatorio = Math.floor(Math.random() * data.products.length);  
      componente.querySelector('div:nth-of-type(1) > img').src = data.products[0].images[0].src
      componente.querySelector('div:nth-of-type(2) > p:nth-of-type(2)').innerText = `Compró ${data.products[numeroAleatorio].title}`

      const esMes = Math.floor(Math.random() * 2) === 0;
        if (esMes) {
        const numeroMeses = Math.floor(Math.random() * 12);
        componente.querySelector('div:nth-of-type(2) > p:nth-of-type(3)').innerText = `hace ${numeroMeses} meses`
        } else {
        const numeroDias = Math.floor(Math.random() * 29);
        componente.querySelector('div:nth-of-type(2) > p:nth-of-type(3)').innerText = `hace ${numeroDias} días`  
        }
  
        componente.querySelector('div:nth-of-type(2) > p:nth-of-type(1)').innerText = 'Kuasi en asdsd'
      
    componente.style.display = 'flex'
    setTimeout(() => {
     //componente.style.display = 'none'
    }, 2000)
  setTimeout(ejecutarAccion, 5000)
}
  
if (componente) {
  setTimeout(() => {
    ejecutarAccion();
  }, 5000);
}
  
{% endjavascript %}
{% schema %}
  {
    "name": "text-bubble",
      "settings": [
    
   
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "presets": [
    {
      "name": "t:sections.text-bubble.presets.name"
    }
  ]
  }
{% endschema %}

